.company-name {
    font-size: 1.62rem;
    font-weight: 400;
}

.company-type {
    font-weight: 500;
    background-color: #ffc03c;
    color: #0f0f0f;
    display: inline-block;
    font-size: .75rem;
    padding: .375rem;
    border-radius: 5px;
    margin-top: .5rem;
}

.bottom-text {
    display: flex;
    align-items: center;
    font-size: .75rem;
    gap: .125rem;
    font-weight: 500;
}

.bottom-text-container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  
    align-items: center;
}

.bottom-text-flex {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}
.linkedin {
    margin-top: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.developer-name{
    font-size: 1.5rem;
}